@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(250, 250, 250, 0.5),
      rgba(250, 250, 250, 0.5)
    ),
    url("/bg.jpg");
  background-size: cover;
}
.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background: #000; /* Default black background */
}

/* Image styles */
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: fadeInOutWithBlack 20s 1s infinite;
  animation-fill-mode: backwards;
}

@keyframes fadeInOutWithBlack {
  0% {
    opacity: 0;
  } /* Hidden */
  10% {
    opacity: 1;
    scale: 1.05;
  } /* Fade in */
  30% {
    opacity: 1;
  } /* Stay visible */
  40% {
    opacity: 0;
  } /* Fade out */
  50% {
    opacity: 0;
  } /* Black screen */
  100% {
    opacity: 0;
  } /* Hidden */
}

/* Delay each image for proper sequencing */
.slider img:nth-child(1) {
  animation-delay: 0s;
}
.slider img:nth-child(2) {
  animation-delay: 4s;
}
.slider img:nth-child(3) {
  animation-delay: 8s;
}
.slider img:nth-child(4) {
  animation-delay: 12s;
}
.slider img:nth-child(5) {
  animation-delay: 16s;
}
.slider img:nth-child(6) {
  animation-delay: 20s;
}
